<!-- /views/game_over.erb -->

<%= result %>

<!-- <div class="padding blue">
  <h3>Press Play to start a new game.</h3>
  <button><hrefform method="get" action="/">
    <input type="submit" value="Play">
  </form>
</div> -->

<div class="padding blue">
  <h3>Press Play to start a new game.</h3>
  <button><a href="/">Play</a></button>
</div>