<!-- /views/play_ai.erb -->

<div class="padding blue">
  <h3>Player moved.  Press Submit for next round.</h3>
  <form method="post" action="play">
    <input type="submit" value="Submit">
  </form>
</div>