<!-- /views/play_ai.erb -->

<div class="padding blue">
  <h3>Press Submit for <%= p1_type %> AI Move</h3>
  <form method="post" action="move_ai">
    <input type="submit" value="Submit">
  </form>
</div>