<!-- /views/play_ai.erb -->

<div class="padding blue">
  <h3>Press Submit for AI Move</h3>
  <form method="post" action="move_ai">  <!-- action ~ "post '/guess' do" in app.rb -->
    <input type="submit" value="Submit">  <!-- button to submit letter to "post '/guess' do" route for evaluation -->
  </form>
</div>