<!-- /views/play_ai.erb -->

<% if round % 2 == 0 %>
  <% previous_player = "O" %>
  <% previous_ai_type = p2_type %>
<% else %>
  <% previous_player = "X" %>
  <% previous_ai_type = p1_type %>
<% end %>

<h3>Round <%= round %></h3>
<p><%= previous_ai_type %> <%= previous_player %> took  <%= move %>.</p>
<p>Press <b>Next</b> to continue.</p>
<form method="post" action="play">
  <input type="submit" value="Next">
</form>