<!-- /views/player_type.erb -->

<div>
  <p>Got it!</p>
  <p>X is a <u><%= p1_type %></u> player and O is a <u><%= p2_type %></u> player.</p>
  <p>Please press <b>Play</b> to begin the game!</p>
  <form method="post" action="player_1">
    <input type="submit" value="Play">
  </form>
</div>