<!--
/views/start.erb
- called by "get '/' do" in app.rb
- mainly a placeholder, root page populated via layout.erb for reuse
 -->

<div class="padding blue">
  <h3>Please Select the Player Types</h3>
  <form method="post" action="player_type">  <!-- action ~ "post '/guess' do" in app.rb -->
    <h4>Player 1 (X):
      <select type="text" name="p1_type">  <!-- text == string, name ~ "@num = params[:player_type]" in app.rb -->
        <option value="human">human</option>
        <option value="perfect">perfect</option>
        <option value="random">random</option>
        <option value="sequential">sequential</option>
      </select>
    </h4>
    <h4>Player 2 (O):
      <select type="text" name="p2_type">  <!-- text == string, name ~ "@num = params[:player_type]" in app.rb -->
        <option value="human">human</option>
        <option value="perfect">perfect</option>
        <option value="random">random</option>
        <option value="sequential">sequential</option>
      </select>
    </h4>
    <input type="submit" value="Submit">  <!-- button to submit letter to "post '/guess' do" route for evaluation -->
  </form>
</div>